 .date-container {
    margin-top: 210px;
 }
 
/* uprava z templates */     
        
        .date-container {
            position: absolute;
            align-items: left;
            top: 40px;
            left: 30px;
            background: white;
            width: 220px;
            height: 16px;
            padding: 1rem;
            border-radius:999px;
            box-shadow:0 6px 18px rgba(94, 67, 67, 0.486);
            z-index: 10;
        }
        .text-date {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .date-label {
            display: block;
            margin-top: -4px;
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: #0e5f04;
        }
        .date-input {
            position: relative;
            bottom: 12px;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 999px;
            font-size: 1rem;
        }