 .date-container {
    margin-top: 80px;
 }
 
/* uprava z templates */     
        
        .date-container {
            position: fixed;
            align-items: left;
            top: 20px;
            left: 20px;
            background: white;
            width: 200px;
            padding: 1rem;
            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            z-index: 10;
        }
        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: #333;
        }
        input[type="date"] {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 1rem;
        }