.evt-text{
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 26px;
}

.x-btn{
  position: absolute;
  right: 14px;
  top: 14px;
  padding: 4px 8px;
  cursor: pointer;
  color:darkred;
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
  font-weight: bold;
}

.x-btn:hover{
  background: rgb(194, 194, 194, 0.8);
  border-radius: 20px;
}

.x-svg{
  width: 30px;
  height: 30px;
}

.evt-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  background-color: #c5c5c5;
  height: 130px;
  border-radius: 15px;
}

.meta{
  font-size: 19px;
  color: rgba(85, 85, 85, 0.8);
  margin-top: 5px;
  margin-bottom: 25px;
  padding-left: 10px;
  font-weight: bold;
}

.meta-link{
  text-decoration: none;
  color: #bb9903;
}
.meta-link:hover{
  color: #8d7404;
}

.meta2{
  font-size: 19px;
  color:rgba(85, 85, 85, 0.8);
  padding-left: 10px;
  font-weight: bold;
}

.meta2-btn{
  margin-left: 10px;
  background: linear-gradient(to right, #bb3d03, #8f0505);
  color: yellow;
  border: darkred 2px solid;
  border-radius: 50px;
  font-weight: bold;
  height: 40px;
  width: 90px;
}

.zakl-info{
  font-size: 25px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: -5px;
  color: white;
  text-decoration: underline;
}

.event-info{
  position: relative;
  padding: 6px;
  font-size: 20px;
  padding-left: 25px;
}

.event-info-cont{
  background-color: rgba(139, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  height: 370px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.nazev-koncertu{
  color: darkred;
  font-size: 45px;
  margin-top: -5px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}


