.header {
    position: sticky;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    margin-top: -10px;
    padding: 1.2rem;
    background: linear-gradient(135deg, #9e1111 0%, #ecb47f 100%);
    border-bottom:1px solid #cacaca;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-left: -10px;
}

#logo_header {
    display:flex;
    align-items:center;
    gap:0.75rem;
}

.logo{
    height:60px;
    width:60px;
    object-fit:contain;
    margin-left: -10px;
}

#title {
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
} 

.links_header {
    margin:0 0.5rem;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}

.links_header:hover {
    color: #fbff00;
}

#login {
    margin-left:1rem;
    padding:0.5em 1em;
    border-radius:10px;
    text-decoration:none;
    font-weight: bold;
    background: #ffffff;
    color:#027a02;
}

#login:hover{
    background:#fdf1d2;
    color:#c94203;
}

#signup {
    margin-left:1rem;
    padding:0.55em 1em;
    border-radius:10px;
    text-decoration:none;
    font-weight: bold;
    background: linear-gradient(to right, #ff4800, #7c0707); 
    color: #ffffff;
    margin-right: 25px;
}

#signup:hover{
    background: linear-gradient(to right, #37bb03,#025c02);
    color:#ffffff;
}
