@import './map.css';

main{
    background-color: #d4ecff;
}


.home-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: block;
}

.search-container{
    display:flex;
    align-items:center;
    gap:8px;
    background:var(--box);
    border-radius:999px;
    padding:10px 14px;
    width:420px;
    max-width:100%;
    box-shadow:0 6px 18px rgba(10, 18, 63, 0.486);
    border:3px solid #05549f;
}

.icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}