
/* uprava z templates */

:root{
    --accent:#102157;
    --shadow: 0 6px 18px rgba(37,99,235,0.14);
    --radius:12px;
}

.round-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0;
    background: linear-gradient(to right, #bb3d03, #8f0505);
    color: #f7fc00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--shadow);
    font-weight: 600;
    transition:transform .12s ease;
    z-index: 30;
    font-size: "xx-large"; 
}

.link-in-btn:link{ 
    text-decoration: none;
    color: #d4ecff;
 }

.link-in-btn:hover{text-decoration: none;}
.link-in-btn:active{text-decoration: none;}
.link-in-btn:visited{text-decoration: none;}

.round-btn:active{ transform:scale(.98); }

